[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anki = "==2.1.50"
aqt = "==2.1.50"
pyqt6 = "==6.3.*"
PyQt6-WebEngine = "==6.3.*"

[dev-packages]
bpython = "*"
yapf = "*"

[requires]
python_version = "3"
