pre code {
  border: solid;
  border-width: thick;
  border-color: #cdbc84;
  padding: 0.5em;
}
.nightMode pre code {
  border-color: #052831;
}

.highlight pre { background-color: #eee8d5 }
.highlight pre { border-color: #cdbc84; }
.highlight pre { line-height: 125%; }
.highlight td.linenos pre { color: #93a1a1; background-color: #eee8d5; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos { color: #93a1a1; background-color: #eee8d5; padding-left: 5px; padding-right: 5px; }
.highlight td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #eee8d5 }
.highlight .c { color: #93a1a1; font-style: italic } /* Comment */
.highlight .err { color: #657b83; background-color: #dc322f } /* Error */
.highlight .esc { color: #657b83 } /* Escape */
.highlight .g { color: #657b83 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #657b83 } /* Literal */
.highlight .n { color: #657b83 } /* Name */
.highlight .o { color: #93a1a1 } /* Operator */
.highlight .x { color: #657b83 } /* Other */
.highlight .p { color: #657b83 } /* Punctuation */
.highlight .ch { color: #93a1a1; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #d33682 } /* Comment.Preproc */
.highlight .cpf { color: #93a1a1 } /* Comment.PreprocFile */
.highlight .c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
.highlight .cs { color: #93a1a1; font-style: italic } /* Comment.Special */
.highlight .gd { color: #dc322f } /* Generic.Deleted */
.highlight .ge { color: #657b83; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #657b83; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #657b83 } /* Generic.Output */
.highlight .gp { color: #657b83 } /* Generic.Prompt */
.highlight .gs { color: #657b83; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #657b83; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #268bd2 } /* Generic.Traceback */
.highlight .kc { color: #2aa198 } /* Keyword.Constant */
.highlight .kd { color: #2aa198 } /* Keyword.Declaration */
.highlight .kn { color: #cb4b16 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #859900 } /* Keyword.Reserved */
.highlight .kt { color: #b58900 } /* Keyword.Type */
.highlight .ld { color: #657b83 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #657b83 } /* Name.Attribute */
.highlight .nb { color: #268bd2 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #268bd2 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #268bd2 } /* Name.Entity */
.highlight .ne { color: #268bd2 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #268bd2 } /* Name.Label */
.highlight .nn { color: #268bd2 } /* Name.Namespace */
.highlight .nx { color: #657b83 } /* Name.Other */
.highlight .py { color: #657b83 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #657b83 } /* Text.Whitespace */
.highlight .mb { color: #2aa198 } /* Literal.Number.Bin */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sa { color: #2aa198 } /* Literal.String.Affix */
.highlight .sb { color: #2aa198 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .dl { color: #2aa198 } /* Literal.String.Delimiter */
.highlight .sd { color: #93a1a1 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #2aa198 } /* Literal.String.Escape */
.highlight .sh { color: #2aa198 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #cb4b16 } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #268bd2 } /* Name.Function.Magic */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .vm { color: #268bd2 } /* Name.Variable.Magic */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */



.nightMode .highlight pre { background-color: #073642 }
.nightMode .highlight pre { border: solid; border-width: thick; border-color: #052831; }
.nightMode .highlight pre { line-height: 125%; }
.nightMode .highlight td.linenos pre { color: #586e75; background-color: #073642; padding-left: 5px; padding-right: 5px; }
.nightMode .highlight span.linenos { color: #586e75; background-color: #073642; padding-left: 5px; padding-right: 5px; }
.nightMode .highlight td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.nightMode .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.nightMode .highlight .hll { background-color: #073642 }
.nightMode .highlight .c { color: #586e75; font-style: italic } /* Comment */
.nightMode .highlight .err { color: #839496; background-color: #dc322f } /* Error */
.nightMode .highlight .esc { color: #839496 } /* Escape */
.nightMode .highlight .g { color: #839496 } /* Generic */
.nightMode .highlight .k { color: #859900 } /* Keyword */
.nightMode .highlight .l { color: #839496 } /* Literal */
.nightMode .highlight .n { color: #839496 } /* Name */
.nightMode .highlight .o { color: #586e75 } /* Operator */
.nightMode .highlight .x { color: #839496 } /* Other */
.nightMode .highlight .p { color: #839496 } /* Punctuation */
.nightMode .highlight .ch { color: #586e75; font-style: italic } /* Comment.Hashbang */
.nightMode .highlight .cm { color: #586e75; font-style: italic } /* Comment.Multiline */
.nightMode .highlight .cp { color: #d33682 } /* Comment.Preproc */
.nightMode .highlight .cpf { color: #586e75 } /* Comment.PreprocFile */
.nightMode .highlight .c1 { color: #586e75; font-style: italic } /* Comment.Single */
.nightMode .highlight .cs { color: #586e75; font-style: italic } /* Comment.Special */
.nightMode .highlight .gd { color: #dc322f } /* Generic.Deleted */
.nightMode .highlight .ge { color: #839496; font-style: italic } /* Generic.Emph */
.nightMode .highlight .gr { color: #dc322f } /* Generic.Error */
.nightMode .highlight .gh { color: #839496; font-weight: bold } /* Generic.Heading */
.nightMode .highlight .gi { color: #859900 } /* Generic.Inserted */
.nightMode .highlight .go { color: #839496 } /* Generic.Output */
.nightMode .highlight .gp { color: #839496 } /* Generic.Prompt */
.nightMode .highlight .gs { color: #839496; font-weight: bold } /* Generic.Strong */
.nightMode .highlight .gu { color: #839496; text-decoration: underline } /* Generic.Subheading */
.nightMode .highlight .gt { color: #268bd2 } /* Generic.Traceback */
.nightMode .highlight .kc { color: #2aa198 } /* Keyword.Constant */
.nightMode .highlight .kd { color: #2aa198 } /* Keyword.Declaration */
.nightMode .highlight .kn { color: #cb4b16 } /* Keyword.Namespace */
.nightMode .highlight .kp { color: #859900 } /* Keyword.Pseudo */
.nightMode .highlight .kr { color: #859900 } /* Keyword.Reserved */
.nightMode .highlight .kt { color: #b58900 } /* Keyword.Type */
.nightMode .highlight .ld { color: #839496 } /* Literal.Date */
.nightMode .highlight .m { color: #2aa198 } /* Literal.Number */
.nightMode .highlight .s { color: #2aa198 } /* Literal.String */
.nightMode .highlight .na { color: #839496 } /* Name.Attribute */
.nightMode .highlight .nb { color: #268bd2 } /* Name.Builtin */
.nightMode .highlight .nc { color: #268bd2 } /* Name.Class */
.nightMode .highlight .no { color: #268bd2 } /* Name.Constant */
.nightMode .highlight .nd { color: #268bd2 } /* Name.Decorator */
.nightMode .highlight .ni { color: #268bd2 } /* Name.Entity */
.nightMode .highlight .ne { color: #268bd2 } /* Name.Exception */
.nightMode .highlight .nf { color: #268bd2 } /* Name.Function */
.nightMode .highlight .nl { color: #268bd2 } /* Name.Label */
.nightMode .highlight .nn { color: #268bd2 } /* Name.Namespace */
.nightMode .highlight .nx { color: #839496 } /* Name.Other */
.nightMode .highlight .py { color: #839496 } /* Name.Property */
.nightMode .highlight .nt { color: #268bd2 } /* Name.Tag */
.nightMode .highlight .nv { color: #268bd2 } /* Name.Variable */
.nightMode .highlight .ow { color: #859900 } /* Operator.Word */
.nightMode .highlight .w { color: #839496 } /* Text.Whitespace */
.nightMode .highlight .mb { color: #2aa198 } /* Literal.Number.Bin */
.nightMode .highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.nightMode .highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.nightMode .highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.nightMode .highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.nightMode .highlight .sa { color: #2aa198 } /* Literal.String.Affix */
.nightMode .highlight .sb { color: #2aa198 } /* Literal.String.Backtick */
.nightMode .highlight .sc { color: #2aa198 } /* Literal.String.Char */
.nightMode .highlight .dl { color: #2aa198 } /* Literal.String.Delimiter */
.nightMode .highlight .sd { color: #586e75 } /* Literal.String.Doc */
.nightMode .highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.nightMode .highlight .se { color: #2aa198 } /* Literal.String.Escape */
.nightMode .highlight .sh { color: #2aa198 } /* Literal.String.Heredoc */
.nightMode .highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.nightMode .highlight .sx { color: #2aa198 } /* Literal.String.Other */
.nightMode .highlight .sr { color: #cb4b16 } /* Literal.String.Regex */
.nightMode .highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.nightMode .highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.nightMode .highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.nightMode .highlight .fm { color: #268bd2 } /* Name.Function.Magic */
.nightMode .highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.nightMode .highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.nightMode .highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.nightMode .highlight .vm { color: #268bd2 } /* Name.Variable.Magic */
.nightMode .highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */



.night_mode .highlight pre { background-color: #073642 }
.night_mode .highlight pre { border: solid; border-width: thick; border-color: #052831; }
.night_mode .highlight pre { line-height: 125%; }
.night_mode .highlight td.linenos pre { color: #586e75; background-color: #073642; padding-left: 5px; padding-right: 5px; }
.night_mode .highlight span.linenos { color: #586e75; background-color: #073642; padding-left: 5px; padding-right: 5px; }
.night_mode .highlight td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.night_mode .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.night_mode .highlight .hll { background-color: #073642 }
.night_mode .highlight .c { color: #586e75; font-style: italic } /* Comment */
.night_mode .highlight .err { color: #839496; background-color: #dc322f } /* Error */
.night_mode .highlight .esc { color: #839496 } /* Escape */
.night_mode .highlight .g { color: #839496 } /* Generic */
.night_mode .highlight .k { color: #859900 } /* Keyword */
.night_mode .highlight .l { color: #839496 } /* Literal */
.night_mode .highlight .n { color: #839496 } /* Name */
.night_mode .highlight .o { color: #586e75 } /* Operator */
.night_mode .highlight .x { color: #839496 } /* Other */
.night_mode .highlight .p { color: #839496 } /* Punctuation */
.night_mode .highlight .ch { color: #586e75; font-style: italic } /* Comment.Hashbang */
.night_mode .highlight .cm { color: #586e75; font-style: italic } /* Comment.Multiline */
.night_mode .highlight .cp { color: #d33682 } /* Comment.Preproc */
.night_mode .highlight .cpf { color: #586e75 } /* Comment.PreprocFile */
.night_mode .highlight .c1 { color: #586e75; font-style: italic } /* Comment.Single */
.night_mode .highlight .cs { color: #586e75; font-style: italic } /* Comment.Special */
.night_mode .highlight .gd { color: #dc322f } /* Generic.Deleted */
.night_mode .highlight .ge { color: #839496; font-style: italic } /* Generic.Emph */
.night_mode .highlight .gr { color: #dc322f } /* Generic.Error */
.night_mode .highlight .gh { color: #839496; font-weight: bold } /* Generic.Heading */
.night_mode .highlight .gi { color: #859900 } /* Generic.Inserted */
.night_mode .highlight .go { color: #839496 } /* Generic.Output */
.night_mode .highlight .gp { color: #839496 } /* Generic.Prompt */
.night_mode .highlight .gs { color: #839496; font-weight: bold } /* Generic.Strong */
.night_mode .highlight .gu { color: #839496; text-decoration: underline } /* Generic.Subheading */
.night_mode .highlight .gt { color: #268bd2 } /* Generic.Traceback */
.night_mode .highlight .kc { color: #2aa198 } /* Keyword.Constant */
.night_mode .highlight .kd { color: #2aa198 } /* Keyword.Declaration */
.night_mode .highlight .kn { color: #cb4b16 } /* Keyword.Namespace */
.night_mode .highlight .kp { color: #859900 } /* Keyword.Pseudo */
.night_mode .highlight .kr { color: #859900 } /* Keyword.Reserved */
.night_mode .highlight .kt { color: #b58900 } /* Keyword.Type */
.night_mode .highlight .ld { color: #839496 } /* Literal.Date */
.night_mode .highlight .m { color: #2aa198 } /* Literal.Number */
.night_mode .highlight .s { color: #2aa198 } /* Literal.String */
.night_mode .highlight .na { color: #839496 } /* Name.Attribute */
.night_mode .highlight .nb { color: #268bd2 } /* Name.Builtin */
.night_mode .highlight .nc { color: #268bd2 } /* Name.Class */
.night_mode .highlight .no { color: #268bd2 } /* Name.Constant */
.night_mode .highlight .nd { color: #268bd2 } /* Name.Decorator */
.night_mode .highlight .ni { color: #268bd2 } /* Name.Entity */
.night_mode .highlight .ne { color: #268bd2 } /* Name.Exception */
.night_mode .highlight .nf { color: #268bd2 } /* Name.Function */
.night_mode .highlight .nl { color: #268bd2 } /* Name.Label */
.night_mode .highlight .nn { color: #268bd2 } /* Name.Namespace */
.night_mode .highlight .nx { color: #839496 } /* Name.Other */
.night_mode .highlight .py { color: #839496 } /* Name.Property */
.night_mode .highlight .nt { color: #268bd2 } /* Name.Tag */
.night_mode .highlight .nv { color: #268bd2 } /* Name.Variable */
.night_mode .highlight .ow { color: #859900 } /* Operator.Word */
.night_mode .highlight .w { color: #839496 } /* Text.Whitespace */
.night_mode .highlight .mb { color: #2aa198 } /* Literal.Number.Bin */
.night_mode .highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.night_mode .highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.night_mode .highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.night_mode .highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.night_mode .highlight .sa { color: #2aa198 } /* Literal.String.Affix */
.night_mode .highlight .sb { color: #2aa198 } /* Literal.String.Backtick */
.night_mode .highlight .sc { color: #2aa198 } /* Literal.String.Char */
.night_mode .highlight .dl { color: #2aa198 } /* Literal.String.Delimiter */
.night_mode .highlight .sd { color: #586e75 } /* Literal.String.Doc */
.night_mode .highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.night_mode .highlight .se { color: #2aa198 } /* Literal.String.Escape */
.night_mode .highlight .sh { color: #2aa198 } /* Literal.String.Heredoc */
.night_mode .highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.night_mode .highlight .sx { color: #2aa198 } /* Literal.String.Other */
.night_mode .highlight .sr { color: #cb4b16 } /* Literal.String.Regex */
.night_mode .highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.night_mode .highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.night_mode .highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.night_mode .highlight .fm { color: #268bd2 } /* Name.Function.Magic */
.night_mode .highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.night_mode .highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.night_mode .highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.night_mode .highlight .vm { color: #268bd2 } /* Name.Variable.Magic */
.night_mode .highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */
