:root {
  --pygments-solarized-light-color00: #cb4b16;
  --pygments-solarized-light-color01: var(--hljs-solarized-light-base09); /*#2aa198;*/
  --pygments-solarized-light-color02: #eee8d5;
  --pygments-solarized-light-color03: var(--hljs-solarized-light-base0E); /*#859900;*/
  --pygments-solarized-light-color04: #000;
  --pygments-solarized-light-color05: #268bd2;
  --pygments-solarized-light-color06: #dc322f;
  --pygments-solarized-light-color07: #ffffc0;
  --pygments-solarized-light-color08: #fdf6e3;
  --pygments-solarized-light-color09: #93a1a1;
  --pygments-solarized-light-color10: #657b83;
  --pygments-solarized-light-color11: #d33682;
  --pygments-solarized-light-color12: #b58900;

  --pygments-solarized-dark-color00: var(--pygments-solarized-light-color00);
  --pygments-solarized-dark-color01: var(--pygments-solarized-light-color01);
  --pygments-solarized-dark-color02: #586e75;
  --pygments-solarized-dark-color03: var(--pygments-solarized-light-color03);
  --pygments-solarized-dark-color04: var(--pygments-solarized-light-color04);
  --pygments-solarized-dark-color05: var(--pygments-solarized-light-color05);
  --pygments-solarized-dark-color06: var(--pygments-solarized-light-color06);
  --pygments-solarized-dark-color07: var(--pygments-solarized-light-color07);
  --pygments-solarized-dark-color08: #073642;
  --pygments-solarized-dark-color09: #839496;
  --pygments-solarized-dark-color10: #002b36;
  --pygments-solarized-dark-color11: var(--pygments-solarized-light-color11);
  --pygments-solarized-dark-color12: var(--pygments-solarized-light-color12);
}

.pygments>pre {
  background: var(--pygments-solarized-light-color08);
  color: var(--pygments-solarized-light-color10);
  border: solid;
  border-width: thick;
  border-color: #cdbc84;
  padding: 3px 5px;
  line-height: 125%;
}
.night_mode .pygments>pre {
  background: var(--pygments-solarized-dark-color10);
  color: var(--pygments-solarized-dark-color09);
  border-color: #052831;
}

.pygments .hll { background-color: var(--pygments-solarized-light-color02) }
.pygments .c { color: var(--pygments-solarized-light-color09); font-style: italic } /* Comment */
.pygments .err { color: var(--pygments-solarized-light-color10); background-color: var(--pygments-solarized-light-color06) } /* Error */
.pygments .esc { color: var(--pygments-solarized-light-color10) } /* Escape */
.pygments .g { color: var(--pygments-solarized-light-color10) } /* Generic */
.pygments .k { color: var(--pygments-solarized-light-color03) } /* Keyword */
.pygments .l { color: var(--pygments-solarized-light-color10) } /* Literal */
.pygments .n { color: var(--pygments-solarized-light-color10) } /* Name */
.pygments .o { color: var(--pygments-solarized-light-color09) } /* Operator */
.pygments .x { color: var(--pygments-solarized-light-color10) } /* Other */
.pygments .p { color: var(--pygments-solarized-light-color10) } /* Punctuation */
.pygments .ch { color: var(--pygments-solarized-light-color09); font-style: italic } /* Comment.Hashbang */
.pygments .cm { color: var(--pygments-solarized-light-color09); font-style: italic } /* Comment.Multiline */
.pygments .cp { color: var(--pygments-solarized-dark-color11) } /* Comment.Preproc */
.pygments .cpf { color: var(--pygments-solarized-light-color09) } /* Comment.PreprocFile */
.pygments .c1 { color: var(--pygments-solarized-light-color09); font-style: italic } /* Comment.Single */
.pygments .cs { color: var(--pygments-solarized-light-color09); font-style: italic } /* Comment.Special */
.pygments .gd { color: var(--pygments-solarized-light-color06) } /* Generic.Deleted */
.pygments .ge { color: var(--pygments-solarized-light-color10); font-style: italic } /* Generic.Emph */
.pygments .gr { color: var(--pygments-solarized-light-color06) } /* Generic.Error */
.pygments .gh { color: var(--pygments-solarized-light-color10); font-weight: bold } /* Generic.Heading */
.pygments .gi { color: var(--pygments-solarized-light-color03) } /* Generic.Inserted */
.pygments .go { color: var(--pygments-solarized-light-color10) } /* Generic.Output */
.pygments .gp { color: var(--pygments-solarized-light-color05); font-weight: bold } /* Generic.Prompt */
.pygments .gs { color: var(--pygments-solarized-light-color10); font-weight: bold } /* Generic.Strong */
.pygments .gu { color: var(--pygments-solarized-light-color10); text-decoration: underline } /* Generic.Subheading */
.pygments .gt { color: var(--pygments-solarized-light-color05) } /* Generic.Traceback */
.pygments .kc { color: var(--pygments-solarized-light-color01) } /* Keyword.Constant */
.pygments .kd { color: var(--pygments-solarized-light-color01) } /* Keyword.Declaration */
.pygments .kn { color: var(--pygments-solarized-light-color00) } /* Keyword.Namespace */
.pygments .kp { color: var(--pygments-solarized-light-color03) } /* Keyword.Pseudo */
.pygments .kr { color: var(--pygments-solarized-light-color03) } /* Keyword.Reserved */
.pygments .kt { color: var(--pygments-solarized-light-color12) } /* Keyword.Type */
.pygments .ld { color: var(--pygments-solarized-light-color10) } /* Literal.Date */
.pygments .m { color: var(--pygments-solarized-light-color01) } /* Literal.Number */
.pygments .s { color: var(--pygments-solarized-light-color01) } /* Literal.String */
.pygments .na { color: var(--pygments-solarized-light-color10) } /* Name.Attribute */
.pygments .nb { color: var(--pygments-solarized-light-color05) } /* Name.Builtin */
.pygments .nc { color: var(--pygments-solarized-light-color05) } /* Name.Class */
.pygments .no { color: var(--pygments-solarized-light-color05) } /* Name.Constant */
.pygments .nd { color: var(--pygments-solarized-light-color05) } /* Name.Decorator */
.pygments .ni { color: var(--pygments-solarized-light-color05) } /* Name.Entity */
.pygments .ne { color: var(--pygments-solarized-light-color05) } /* Name.Exception */
.pygments .nf { color: var(--pygments-solarized-light-color05) } /* Name.Function */
.pygments .nl { color: var(--pygments-solarized-light-color05) } /* Name.Label */
.pygments .nn { color: var(--pygments-solarized-light-color05) } /* Name.Namespace */
.pygments .nx { color: var(--pygments-solarized-light-color10) } /* Name.Other */
.pygments .py { color: var(--pygments-solarized-light-color10) } /* Name.Property */
.pygments .nt { color: var(--pygments-solarized-light-color05) } /* Name.Tag */
.pygments .nv { color: var(--pygments-solarized-light-color05) } /* Name.Variable */
.pygments .ow { color: var(--pygments-solarized-light-color03) } /* Operator.Word */
.pygments .w { color: var(--pygments-solarized-light-color10) } /* Text.Whitespace */
.pygments .mb { color: var(--pygments-solarized-light-color01) } /* Literal.Number.Bin */
.pygments .mf { color: var(--pygments-solarized-light-color01) } /* Literal.Number.Float */
.pygments .mh { color: var(--pygments-solarized-light-color01) } /* Literal.Number.Hex */
.pygments .mi { color: var(--pygments-solarized-light-color01) } /* Literal.Number.Integer */
.pygments .mo { color: var(--pygments-solarized-light-color01) } /* Literal.Number.Oct */
.pygments .sa { color: var(--pygments-solarized-light-color01) } /* Literal.String.Affix */
.pygments .sb { color: var(--pygments-solarized-light-color01) } /* Literal.String.Backtick */
.pygments .sc { color: var(--pygments-solarized-light-color01) } /* Literal.String.Char */
.pygments .dl { color: var(--pygments-solarized-light-color01) } /* Literal.String.Delimiter */
.pygments .sd { color: var(--pygments-solarized-light-color09) } /* Literal.String.Doc */
.pygments .s2 { color: var(--pygments-solarized-light-color01) } /* Literal.String.Double */
.pygments .se { color: var(--pygments-solarized-light-color01) } /* Literal.String.Escape */
.pygments .sh { color: var(--pygments-solarized-light-color01) } /* Literal.String.Heredoc */
.pygments .si { color: var(--pygments-solarized-light-color01) } /* Literal.String.Interpol */
.pygments .sx { color: var(--pygments-solarized-light-color01) } /* Literal.String.Other */
.pygments .sr { color: var(--pygments-solarized-light-color00) } /* Literal.String.Regex */
.pygments .s1 { color: var(--pygments-solarized-light-color01) } /* Literal.String.Single */
.pygments .ss { color: var(--pygments-solarized-light-color01) } /* Literal.String.Symbol */
.pygments .bp { color: var(--pygments-solarized-light-color05) } /* Name.Builtin.Pseudo */
.pygments .fm { color: var(--pygments-solarized-light-color05) } /* Name.Function.Magic */
.pygments .vc { color: var(--pygments-solarized-light-color05) } /* Name.Variable.Class */
.pygments .vg { color: var(--pygments-solarized-light-color05) } /* Name.Variable.Global */
.pygments .vi { color: var(--pygments-solarized-light-color05) } /* Name.Variable.Instance */
.pygments .vm { color: var(--pygments-solarized-light-color05) } /* Name.Variable.Magic */
.pygments .il { color: var(--pygments-solarized-light-color01) } /* Literal.Number.Integer.Long */

.night_mode .pygments .hll { background-color: var(--pygments-solarized-dark-color08) }
.night_mode .pygments .c { color: var(--pygments-solarized-dark-color02); font-style: italic } /* Comment */
.night_mode .pygments .err { color: var(--pygments-solarized-dark-color09); background-color: var(--pygments-solarized-dark-color06) } /* Error */
.night_mode .pygments .esc { color: var(--pygments-solarized-dark-color09) } /* Escape */
.night_mode .pygments .g { color: var(--pygments-solarized-dark-color09) } /* Generic */
.night_mode .pygments .k { color: var(--pygments-solarized-dark-color03) } /* Keyword */
.night_mode .pygments .l { color: var(--pygments-solarized-dark-color09) } /* Literal */
.night_mode .pygments .n { color: var(--pygments-solarized-dark-color09) } /* Name */
.night_mode .pygments .o { color: var(--pygments-solarized-dark-color02) } /* Operator */
.night_mode .pygments .x { color: var(--pygments-solarized-dark-color09) } /* Other */
.night_mode .pygments .p { color: var(--pygments-solarized-dark-color09) } /* Punctuation */
.night_mode .pygments .ch { color: var(--pygments-solarized-dark-color02); font-style: italic } /* Comment.Hashbang */
.night_mode .pygments .cm { color: var(--pygments-solarized-dark-color02); font-style: italic } /* Comment.Multiline */
.night_mode .pygments .cp { color: var(--pygments-solarized-dark-color11) } /* Comment.Preproc */
.night_mode .pygments .cpf { color: var(--pygments-solarized-dark-color02) } /* Comment.PreprocFile */
.night_mode .pygments .c1 { color: var(--pygments-solarized-dark-color02); font-style: italic } /* Comment.Single */
.night_mode .pygments .cs { color: var(--pygments-solarized-dark-color02); font-style: italic } /* Comment.Special */
.night_mode .pygments .gd { color: var(--pygments-solarized-dark-color06) } /* Generic.Deleted */
.night_mode .pygments .ge { color: var(--pygments-solarized-dark-color09); font-style: italic } /* Generic.Emph */
.night_mode .pygments .gr { color: var(--pygments-solarized-dark-color06) } /* Generic.Error */
.night_mode .pygments .gh { color: var(--pygments-solarized-dark-color09); font-weight: bold } /* Generic.Heading */
.night_mode .pygments .gi { color: var(--pygments-solarized-dark-color03) } /* Generic.Inserted */
.night_mode .pygments .go { color: var(--pygments-solarized-dark-color09) } /* Generic.Output */
.night_mode .pygments .gp { color: var(--pygments-solarized-dark-color05); font-weight: bold } /* Generic.Prompt */
.night_mode .pygments .gs { color: var(--pygments-solarized-dark-color09); font-weight: bold } /* Generic.Strong */
.night_mode .pygments .gu { color: var(--pygments-solarized-dark-color09); text-decoration: underline } /* Generic.Subheading */
.night_mode .pygments .gt { color: var(--pygments-solarized-dark-color05) } /* Generic.Traceback */
.night_mode .pygments .kc { color: var(--pygments-solarized-dark-color01) } /* Keyword.Constant */
.night_mode .pygments .kd { color: var(--pygments-solarized-dark-color01) } /* Keyword.Declaration */
.night_mode .pygments .kn { color: var(--pygments-solarized-dark-color00) } /* Keyword.Namespace */
.night_mode .pygments .kp { color: var(--pygments-solarized-dark-color03) } /* Keyword.Pseudo */
.night_mode .pygments .kr { color: var(--pygments-solarized-dark-color03) } /* Keyword.Reserved */
.night_mode .pygments .kt { color: var(--pygments-solarized-dark-color12) } /* Keyword.Type */
.night_mode .pygments .ld { color: var(--pygments-solarized-dark-color09) } /* Literal.Date */
.night_mode .pygments .m { color: var(--pygments-solarized-dark-color01) } /* Literal.Number */
.night_mode .pygments .s { color: var(--pygments-solarized-dark-color01) } /* Literal.String */
.night_mode .pygments .na { color: var(--pygments-solarized-dark-color09) } /* Name.Attribute */
.night_mode .pygments .nb { color: var(--pygments-solarized-dark-color05) } /* Name.Builtin */
.night_mode .pygments .nc { color: var(--pygments-solarized-dark-color05) } /* Name.Class */
.night_mode .pygments .no { color: var(--pygments-solarized-dark-color05) } /* Name.Constant */
.night_mode .pygments .nd { color: var(--pygments-solarized-dark-color05) } /* Name.Decorator */
.night_mode .pygments .ni { color: var(--pygments-solarized-dark-color05) } /* Name.Entity */
.night_mode .pygments .ne { color: var(--pygments-solarized-dark-color05) } /* Name.Exception */
.night_mode .pygments .nf { color: var(--pygments-solarized-dark-color05) } /* Name.Function */
.night_mode .pygments .nl { color: var(--pygments-solarized-dark-color05) } /* Name.Label */
.night_mode .pygments .nn { color: var(--pygments-solarized-dark-color05) } /* Name.Namespace */
.night_mode .pygments .nx { color: var(--pygments-solarized-dark-color09) } /* Name.Other */
.night_mode .pygments .py { color: var(--pygments-solarized-dark-color09) } /* Name.Property */
.night_mode .pygments .nt { color: var(--pygments-solarized-dark-color05) } /* Name.Tag */
.night_mode .pygments .nv { color: var(--pygments-solarized-dark-color05) } /* Name.Variable */
.night_mode .pygments .ow { color: var(--pygments-solarized-dark-color03) } /* Operator.Word */
.night_mode .pygments .w { color: var(--pygments-solarized-dark-color09) } /* Text.Whitespace */
.night_mode .pygments .mb { color: var(--pygments-solarized-dark-color01) } /* Literal.Number.Bin */
.night_mode .pygments .mf { color: var(--pygments-solarized-dark-color01) } /* Literal.Number.Float */
.night_mode .pygments .mh { color: var(--pygments-solarized-dark-color01) } /* Literal.Number.Hex */
.night_mode .pygments .mi { color: var(--pygments-solarized-dark-color01) } /* Literal.Number.Integer */
.night_mode .pygments .mo { color: var(--pygments-solarized-dark-color01) } /* Literal.Number.Oct */
.night_mode .pygments .sa { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Affix */
.night_mode .pygments .sb { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Backtick */
.night_mode .pygments .sc { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Char */
.night_mode .pygments .dl { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Delimiter */
.night_mode .pygments .sd { color: var(--pygments-solarized-dark-color02) } /* Literal.String.Doc */
.night_mode .pygments .s2 { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Double */
.night_mode .pygments .se { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Escape */
.night_mode .pygments .sh { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Heredoc */
.night_mode .pygments .si { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Interpol */
.night_mode .pygments .sx { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Other */
.night_mode .pygments .sr { color: var(--pygments-solarized-dark-color00) } /* Literal.String.Regex */
.night_mode .pygments .s1 { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Single */
.night_mode .pygments .ss { color: var(--pygments-solarized-dark-color01) } /* Literal.String.Symbol */
.night_mode .pygments .bp { color: var(--pygments-solarized-dark-color05) } /* Name.Builtin.Pseudo */
.night_mode .pygments .fm { color: var(--pygments-solarized-dark-color05) } /* Name.Function.Magic */
.night_mode .pygments .vc { color: var(--pygments-solarized-dark-color05) } /* Name.Variable.Class */
.night_mode .pygments .vg { color: var(--pygments-solarized-dark-color05) } /* Name.Variable.Global */
.night_mode .pygments .vi { color: var(--pygments-solarized-dark-color05) } /* Name.Variable.Instance */
.night_mode .pygments .vm { color: var(--pygments-solarized-dark-color05) } /* Name.Variable.Magic */
.night_mode .pygments .il { color: var(--pygments-solarized-dark-color01) } /* Literal.Number.Integer.Long */
