.gch-pygments > pre {
  background: #fdf6e3;
  color: #657b83;
  border: solid;
  border-width: thick;
  border-color: #cdbc84;
  padding: 3px 5px;
  line-height: 125%;
  /* Fixes https://github.com/gregorias/anki-code-highlighter/issues/96#issuecomment-3146469831 */
  overflow-x: auto;
}
:is(.night_mode, .night-mode, .nightMode) .gch-pygments > pre {
  background: #002b36;
  color: #839496;
  border-color: #052831;
}
.gch-pygments .c {
  color: #93a1a1;
  font-style: italic;
} /* Comment */
.gch-pygments .err {
  color: #657b83;
  background-color: #dc322f;
} /* Error */
.gch-pygments .esc {
  color: #657b83;
} /* Escape */
.gch-pygments .g {
  color: #657b83;
} /* Generic */
.gch-pygments .k {
  color: #859900;
} /* Keyword */
.gch-pygments .l {
  color: #657b83;
} /* Literal */
.gch-pygments .n {
  color: #657b83;
} /* Name */
.gch-pygments .o {
  color: #93a1a1;
} /* Operator */
.gch-pygments .x {
  color: #657b83;
} /* Other */
.gch-pygments .p {
  color: #657b83;
} /* Punctuation */
.gch-pygments .ch {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Hashbang */
.gch-pygments .cm {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Multiline */
.gch-pygments .cp {
  color: #d33682;
} /* Comment.Preproc */
.gch-pygments .cpf {
  color: #93a1a1;
} /* Comment.PreprocFile */
.gch-pygments .c1 {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Single */
.gch-pygments .cs {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Special */
.gch-pygments .gd {
  color: #dc322f;
} /* Generic.Deleted */
.gch-pygments .ge {
  color: #657b83;
  font-style: italic;
} /* Generic.Emph */
.gch-pygments .ges {
  color: #657b83;
  font-weight: bold;
  font-style: italic;
} /* Generic.EmphStrong */
.gch-pygments .gr {
  color: #dc322f;
} /* Generic.Error */
.gch-pygments .gh {
  color: #657b83;
  font-weight: bold;
} /* Generic.Heading */
.gch-pygments .gi {
  color: #859900;
} /* Generic.Inserted */
.gch-pygments .go {
  color: #657b83;
} /* Generic.Output */
.gch-pygments .gp {
  color: #268bd2;
  font-weight: bold;
} /* Generic.Prompt */
.gch-pygments .gs {
  color: #657b83;
  font-weight: bold;
} /* Generic.Strong */
.gch-pygments .gu {
  color: #657b83;
  text-decoration: underline;
} /* Generic.Subheading */
.gch-pygments .gt {
  color: #268bd2;
} /* Generic.Traceback */
.gch-pygments .kc {
  color: #2aa198;
} /* Keyword.Constant */
.gch-pygments .kd {
  color: #2aa198;
} /* Keyword.Declaration */
.gch-pygments .kn {
  color: #cb4b16;
} /* Keyword.Namespace */
.gch-pygments .kp {
  color: #859900;
} /* Keyword.Pseudo */
.gch-pygments .kr {
  color: #859900;
} /* Keyword.Reserved */
.gch-pygments .kt {
  color: #b58900;
} /* Keyword.Type */
.gch-pygments .ld {
  color: #657b83;
} /* Literal.Date */
.gch-pygments .m {
  color: #2aa198;
} /* Literal.Number */
.gch-pygments .s {
  color: #2aa198;
} /* Literal.String */
.gch-pygments .na {
  color: #657b83;
} /* Name.Attribute */
.gch-pygments .nb {
  color: #268bd2;
} /* Name.Builtin */
.gch-pygments .nc {
  color: #268bd2;
} /* Name.Class */
.gch-pygments .no {
  color: #268bd2;
} /* Name.Constant */
.gch-pygments .nd {
  color: #268bd2;
} /* Name.Decorator */
.gch-pygments .ni {
  color: #268bd2;
} /* Name.Entity */
.gch-pygments .ne {
  color: #268bd2;
} /* Name.Exception */
.gch-pygments .nf {
  color: #268bd2;
} /* Name.Function */
.gch-pygments .nl {
  color: #268bd2;
} /* Name.Label */
.gch-pygments .nn {
  color: #268bd2;
} /* Name.Namespace */
.gch-pygments .nx {
  color: #657b83;
} /* Name.Other */
.gch-pygments .py {
  color: #657b83;
} /* Name.Property */
.gch-pygments .nt {
  color: #268bd2;
} /* Name.Tag */
.gch-pygments .nv {
  color: #268bd2;
} /* Name.Variable */
.gch-pygments .ow {
  color: #859900;
} /* Operator.Word */
.gch-pygments .pm {
  color: #657b83;
} /* Punctuation.Marker */
.gch-pygments .w {
  color: #657b83;
} /* Text.Whitespace */
.gch-pygments .mb {
  color: #2aa198;
} /* Literal.Number.Bin */
.gch-pygments .mf {
  color: #2aa198;
} /* Literal.Number.Float */
.gch-pygments .mh {
  color: #2aa198;
} /* Literal.Number.Hex */
.gch-pygments .mi {
  color: #2aa198;
} /* Literal.Number.Integer */
.gch-pygments .mo {
  color: #2aa198;
} /* Literal.Number.Oct */
.gch-pygments .sa {
  color: #2aa198;
} /* Literal.String.Affix */
.gch-pygments .sb {
  color: #2aa198;
} /* Literal.String.Backtick */
.gch-pygments .sc {
  color: #2aa198;
} /* Literal.String.Char */
.gch-pygments .dl {
  color: #2aa198;
} /* Literal.String.Delimiter */
.gch-pygments .sd {
  color: #93a1a1;
} /* Literal.String.Doc */
.gch-pygments .s2 {
  color: #2aa198;
} /* Literal.String.Double */
.gch-pygments .se {
  color: #2aa198;
} /* Literal.String.Escape */
.gch-pygments .sh {
  color: #2aa198;
} /* Literal.String.Heredoc */
.gch-pygments .si {
  color: #2aa198;
} /* Literal.String.Interpol */
.gch-pygments .sx {
  color: #2aa198;
} /* Literal.String.Other */
.gch-pygments .sr {
  color: #cb4b16;
} /* Literal.String.Regex */
.gch-pygments .s1 {
  color: #2aa198;
} /* Literal.String.Single */
.gch-pygments .ss {
  color: #2aa198;
} /* Literal.String.Symbol */
.gch-pygments .bp {
  color: #268bd2;
} /* Name.Builtin.Pseudo */
.gch-pygments .fm {
  color: #268bd2;
} /* Name.Function.Magic */
.gch-pygments .vc {
  color: #268bd2;
} /* Name.Variable.Class */
.gch-pygments .vg {
  color: #268bd2;
} /* Name.Variable.Global */
.gch-pygments .vi {
  color: #268bd2;
} /* Name.Variable.Instance */
.gch-pygments .vm {
  color: #268bd2;
} /* Name.Variable.Magic */
.gch-pygments .il {
  color: #2aa198;
} /* Literal.Number.Integer.Long */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .c {
  color: #586e75;
  font-style: italic;
} /* Comment */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .err {
  color: #839496;
  background-color: #dc322f;
} /* Error */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .esc {
  color: #839496;
} /* Escape */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .g {
  color: #839496;
} /* Generic */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .k {
  color: #859900;
} /* Keyword */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .l {
  color: #839496;
} /* Literal */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .n {
  color: #839496;
} /* Name */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .o {
  color: #586e75;
} /* Operator */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .x {
  color: #839496;
} /* Other */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .p {
  color: #839496;
} /* Punctuation */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ch {
  color: #586e75;
  font-style: italic;
} /* Comment.Hashbang */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .cm {
  color: #586e75;
  font-style: italic;
} /* Comment.Multiline */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .cp {
  color: #d33682;
} /* Comment.Preproc */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .cpf {
  color: #586e75;
} /* Comment.PreprocFile */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .c1 {
  color: #586e75;
  font-style: italic;
} /* Comment.Single */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .cs {
  color: #586e75;
  font-style: italic;
} /* Comment.Special */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gd {
  color: #dc322f;
} /* Generic.Deleted */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ge {
  color: #839496;
  font-style: italic;
} /* Generic.Emph */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ges {
  color: #839496;
  font-weight: bold;
  font-style: italic;
} /* Generic.EmphStrong */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gr {
  color: #dc322f;
} /* Generic.Error */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gh {
  color: #839496;
  font-weight: bold;
} /* Generic.Heading */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gi {
  color: #859900;
} /* Generic.Inserted */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .go {
  color: #839496;
} /* Generic.Output */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gp {
  color: #268bd2;
  font-weight: bold;
} /* Generic.Prompt */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gs {
  color: #839496;
  font-weight: bold;
} /* Generic.Strong */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gu {
  color: #839496;
  text-decoration: underline;
} /* Generic.Subheading */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .gt {
  color: #268bd2;
} /* Generic.Traceback */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .kc {
  color: #2aa198;
} /* Keyword.Constant */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .kd {
  color: #2aa198;
} /* Keyword.Declaration */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .kn {
  color: #cb4b16;
} /* Keyword.Namespace */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .kp {
  color: #859900;
} /* Keyword.Pseudo */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .kr {
  color: #859900;
} /* Keyword.Reserved */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .kt {
  color: #b58900;
} /* Keyword.Type */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ld {
  color: #839496;
} /* Literal.Date */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .m {
  color: #2aa198;
} /* Literal.Number */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .s {
  color: #2aa198;
} /* Literal.String */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .na {
  color: #839496;
} /* Name.Attribute */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nb {
  color: #268bd2;
} /* Name.Builtin */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nc {
  color: #268bd2;
} /* Name.Class */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .no {
  color: #268bd2;
} /* Name.Constant */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nd {
  color: #268bd2;
} /* Name.Decorator */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ni {
  color: #268bd2;
} /* Name.Entity */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ne {
  color: #268bd2;
} /* Name.Exception */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nf {
  color: #268bd2;
} /* Name.Function */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nl {
  color: #268bd2;
} /* Name.Label */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nn {
  color: #268bd2;
} /* Name.Namespace */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nx {
  color: #839496;
} /* Name.Other */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .py {
  color: #839496;
} /* Name.Property */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nt {
  color: #268bd2;
} /* Name.Tag */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .nv {
  color: #268bd2;
} /* Name.Variable */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ow {
  color: #859900;
} /* Operator.Word */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .pm {
  color: #839496;
} /* Punctuation.Marker */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .w {
  color: #839496;
} /* Text.Whitespace */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .mb {
  color: #2aa198;
} /* Literal.Number.Bin */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .mf {
  color: #2aa198;
} /* Literal.Number.Float */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .mh {
  color: #2aa198;
} /* Literal.Number.Hex */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .mi {
  color: #2aa198;
} /* Literal.Number.Integer */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .mo {
  color: #2aa198;
} /* Literal.Number.Oct */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sa {
  color: #2aa198;
} /* Literal.String.Affix */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sb {
  color: #2aa198;
} /* Literal.String.Backtick */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sc {
  color: #2aa198;
} /* Literal.String.Char */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .dl {
  color: #2aa198;
} /* Literal.String.Delimiter */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sd {
  color: #586e75;
} /* Literal.String.Doc */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .s2 {
  color: #2aa198;
} /* Literal.String.Double */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .se {
  color: #2aa198;
} /* Literal.String.Escape */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sh {
  color: #2aa198;
} /* Literal.String.Heredoc */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .si {
  color: #2aa198;
} /* Literal.String.Interpol */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sx {
  color: #2aa198;
} /* Literal.String.Other */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .sr {
  color: #cb4b16;
} /* Literal.String.Regex */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .s1 {
  color: #2aa198;
} /* Literal.String.Single */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .ss {
  color: #2aa198;
} /* Literal.String.Symbol */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .bp {
  color: #268bd2;
} /* Name.Builtin.Pseudo */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .fm {
  color: #268bd2;
} /* Name.Function.Magic */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .vc {
  color: #268bd2;
} /* Name.Variable.Class */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .vg {
  color: #268bd2;
} /* Name.Variable.Global */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .vi {
  color: #268bd2;
} /* Name.Variable.Instance */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .vm {
  color: #268bd2;
} /* Name.Variable.Magic */
:is(.night_mode, .night-mode, .nightMode) .gch-pygments .il {
  color: #2aa198;
} /* Literal.Number.Integer.Long */
