.gch-pygments > pre {
  background: #fdf6e3;
  color: #657b83;
  border: solid;
  border-width: thick;
  border-color: #cdbc84;
  padding: 3px 5px;
  line-height: 125%;
  /* Fixes https://github.com/gregorias/anki-code-highlighter/issues/96#issuecomment-3146469831 */
  overflow-x: auto;
}
.night_mode .gch-pygments > pre {
  background: #002b36;
  color: #839496;
  border-color: #052831;
}
.gch-pygments .hll {
  background-color: #eee8d5;
}
.gch-pygments .c {
  color: #93a1a1;
  font-style: italic;
}
/* Comment */
.gch-pygments .err {
  color: #657b83;
  background-color: #dc322f;
}
/* Error */
.gch-pygments .esc {
  color: #657b83;
}
/* Escape */
.gch-pygments .g {
  color: #657b83;
}
/* Generic */
.gch-pygments .k {
  color: #859900;
}
/* Keyword */
.gch-pygments .l {
  color: #657b83;
}
/* Literal */
.gch-pygments .n {
  color: #657b83;
}
/* Name */
.gch-pygments .o {
  color: #93a1a1;
}
/* Operator */
.gch-pygments .x {
  color: #657b83;
}
/* Other */
.gch-pygments .p {
  color: #657b83;
}
/* Punctuation */
.gch-pygments .ch {
  color: #93a1a1;
  font-style: italic;
}
/* Comment.Hashbang */
.gch-pygments .cm {
  color: #93a1a1;
  font-style: italic;
}
/* Comment.Multiline */
.gch-pygments .cp {
  color: #d33682;
}
/* Comment.Preproc */
.gch-pygments .cpf {
  color: #93a1a1;
}
/* Comment.PreprocFile */
.gch-pygments .c1 {
  color: #93a1a1;
  font-style: italic;
}
/* Comment.Single */
.gch-pygments .cs {
  color: #93a1a1;
  font-style: italic;
}
/* Comment.Special */
.gch-pygments .gd {
  color: #dc322f;
}
/* Generic.Deleted */
.gch-pygments .ge {
  color: #657b83;
  font-style: italic;
}
/* Generic.Emph */
.gch-pygments .ges {
  color: #657b83;
  font-weight: bold;
  font-style: italic;
}
/* Generic.EmphStrong */
.gch-pygments .gr {
  color: #dc322f;
}
/* Generic.Error */
.gch-pygments .gh {
  color: #657b83;
  font-weight: bold;
}
/* Generic.Heading */
.gch-pygments .gi {
  color: #859900;
}
/* Generic.Inserted */
.gch-pygments .go {
  color: #657b83;
}
/* Generic.Output */
.gch-pygments .gp {
  color: #268bd2;
  font-weight: bold;
}
/* Generic.Prompt */
.gch-pygments .gs {
  color: #657b83;
  font-weight: bold;
}
/* Generic.Strong */
.gch-pygments .gu {
  color: #657b83;
  text-decoration: underline;
}
/* Generic.Subheading */
.gch-pygments .gt {
  color: #268bd2;
}
/* Generic.Traceback */
.gch-pygments .kc {
  color: #2aa198;
}
/* Keyword.Constant */
.gch-pygments .kd {
  color: #2aa198;
}
/* Keyword.Declaration */
.gch-pygments .kn {
  color: #cb4b16;
}
/* Keyword.Namespace */
.gch-pygments .kp {
  color: #859900;
}
/* Keyword.Pseudo */
.gch-pygments .kr {
  color: #859900;
}
/* Keyword.Reserved */
.gch-pygments .kt {
  color: #b58900;
}
/* Keyword.Type */
.gch-pygments .ld {
  color: #657b83;
}
/* Literal.Date */
.gch-pygments .m {
  color: #2aa198;
}
/* Literal.Number */
.gch-pygments .s {
  color: #2aa198;
}
/* Literal.String */
.gch-pygments .na {
  color: #657b83;
}
/* Name.Attribute */
.gch-pygments .nb {
  color: #268bd2;
}
/* Name.Builtin */
.gch-pygments .nc {
  color: #268bd2;
}
/* Name.Class */
.gch-pygments .no {
  color: #268bd2;
}
/* Name.Constant */
.gch-pygments .nd {
  color: #268bd2;
}
/* Name.Decorator */
.gch-pygments .ni {
  color: #268bd2;
}
/* Name.Entity */
.gch-pygments .ne {
  color: #268bd2;
}
/* Name.Exception */
.gch-pygments .nf {
  color: #268bd2;
}
/* Name.Function */
.gch-pygments .nl {
  color: #268bd2;
}
/* Name.Label */
.gch-pygments .nn {
  color: #268bd2;
}
/* Name.Namespace */
.gch-pygments .nx {
  color: #657b83;
}
/* Name.Other */
.gch-pygments .py {
  color: #657b83;
}
/* Name.Property */
.gch-pygments .nt {
  color: #268bd2;
}
/* Name.Tag */
.gch-pygments .nv {
  color: #268bd2;
}
/* Name.Variable */
.gch-pygments .ow {
  color: #859900;
}
/* Operator.Word */
.gch-pygments .pm {
  color: #657b83;
}
/* Punctuation.Marker */
.gch-pygments .w {
  color: #657b83;
}
/* Text.Whitespace */
.gch-pygments .mb {
  color: #2aa198;
}
/* Literal.Number.Bin */
.gch-pygments .mf {
  color: #2aa198;
}
/* Literal.Number.Float */
.gch-pygments .mh {
  color: #2aa198;
}
/* Literal.Number.Hex */
.gch-pygments .mi {
  color: #2aa198;
}
/* Literal.Number.Integer */
.gch-pygments .mo {
  color: #2aa198;
}
/* Literal.Number.Oct */
.gch-pygments .sa {
  color: #2aa198;
}
/* Literal.String.Affix */
.gch-pygments .sb {
  color: #2aa198;
}
/* Literal.String.Backtick */
.gch-pygments .sc {
  color: #2aa198;
}
/* Literal.String.Char */
.gch-pygments .dl {
  color: #2aa198;
}
/* Literal.String.Delimiter */
.gch-pygments .sd {
  color: #93a1a1;
}
/* Literal.String.Doc */
.gch-pygments .s2 {
  color: #2aa198;
}
/* Literal.String.Double */
.gch-pygments .se {
  color: #2aa198;
}
/* Literal.String.Escape */
.gch-pygments .sh {
  color: #2aa198;
}
/* Literal.String.Heredoc */
.gch-pygments .si {
  color: #2aa198;
}
/* Literal.String.Interpol */
.gch-pygments .sx {
  color: #2aa198;
}
/* Literal.String.Other */
.gch-pygments .sr {
  color: #cb4b16;
}
/* Literal.String.Regex */
.gch-pygments .s1 {
  color: #2aa198;
}
/* Literal.String.Single */
.gch-pygments .ss {
  color: #2aa198;
}
/* Literal.String.Symbol */
.gch-pygments .bp {
  color: #268bd2;
}
/* Name.Builtin.Pseudo */
.gch-pygments .fm {
  color: #268bd2;
}
/* Name.Function.Magic */
.gch-pygments .vc {
  color: #268bd2;
}
/* Name.Variable.Class */
.gch-pygments .vg {
  color: #268bd2;
}
/* Name.Variable.Global */
.gch-pygments .vi {
  color: #268bd2;
}
/* Name.Variable.Instance */
.gch-pygments .vm {
  color: #268bd2;
}
/* Name.Variable.Magic */
.gch-pygments .il {
  color: #2aa198;
}
/* Literal.Number.Integer.Long */
.night_mode .gch-pygments .hll {
  background-color: #073642;
}
.night_mode .gch-pygments .c {
  color: #586e75;
  font-style: italic;
}
/* Comment */
.night_mode .gch-pygments .err {
  color: #839496;
  background-color: #dc322f;
}
/* Error */
.night_mode .gch-pygments .esc {
  color: #839496;
}
/* Escape */
.night_mode .gch-pygments .g {
  color: #839496;
}
/* Generic */
.night_mode .gch-pygments .k {
  color: #859900;
}
/* Keyword */
.night_mode .gch-pygments .l {
  color: #839496;
}
/* Literal */
.night_mode .gch-pygments .n {
  color: #839496;
}
/* Name */
.night_mode .gch-pygments .o {
  color: #586e75;
}
/* Operator */
.night_mode .gch-pygments .x {
  color: #839496;
}
/* Other */
.night_mode .gch-pygments .p {
  color: #839496;
}
/* Punctuation */
.night_mode .gch-pygments .ch {
  color: #586e75;
  font-style: italic;
}
/* Comment.Hashbang */
.night_mode .gch-pygments .cm {
  color: #586e75;
  font-style: italic;
}
/* Comment.Multiline */
.night_mode .gch-pygments .cp {
  color: #d33682;
}
/* Comment.Preproc */
.night_mode .gch-pygments .cpf {
  color: #586e75;
}
/* Comment.PreprocFile */
.night_mode .gch-pygments .c1 {
  color: #586e75;
  font-style: italic;
}
/* Comment.Single */
.night_mode .gch-pygments .cs {
  color: #586e75;
  font-style: italic;
}
/* Comment.Special */
.night_mode .gch-pygments .gd {
  color: #dc322f;
}
/* Generic.Deleted */
.night_mode .gch-pygments .ge {
  color: #839496;
  font-style: italic;
}
/* Generic.Emph */
.night_mode .gch-pygments .ges {
  color: #839496;
  font-weight: bold;
  font-style: italic;
}
/* Generic.EmphStrong */
.night_mode .gch-pygments .gr {
  color: #dc322f;
}
/* Generic.Error */
.night_mode .gch-pygments .gh {
  color: #839496;
  font-weight: bold;
}
/* Generic.Heading */
.night_mode .gch-pygments .gi {
  color: #859900;
}
/* Generic.Inserted */
.night_mode .gch-pygments .go {
  color: #839496;
}
/* Generic.Output */
.night_mode .gch-pygments .gp {
  color: #268bd2;
  font-weight: bold;
}
/* Generic.Prompt */
.night_mode .gch-pygments .gs {
  color: #839496;
  font-weight: bold;
}
/* Generic.Strong */
.night_mode .gch-pygments .gu {
  color: #839496;
  text-decoration: underline;
}
/* Generic.Subheading */
.night_mode .gch-pygments .gt {
  color: #268bd2;
}
/* Generic.Traceback */
.night_mode .gch-pygments .kc {
  color: #2aa198;
}
/* Keyword.Constant */
.night_mode .gch-pygments .kd {
  color: #2aa198;
}
/* Keyword.Declaration */
.night_mode .gch-pygments .kn {
  color: #cb4b16;
}
/* Keyword.Namespace */
.night_mode .gch-pygments .kp {
  color: #859900;
}
/* Keyword.Pseudo */
.night_mode .gch-pygments .kr {
  color: #859900;
}
/* Keyword.Reserved */
.night_mode .gch-pygments .kt {
  color: #b58900;
}
/* Keyword.Type */
.night_mode .gch-pygments .ld {
  color: #839496;
}
/* Literal.Date */
.night_mode .gch-pygments .m {
  color: #2aa198;
}
/* Literal.Number */
.night_mode .gch-pygments .s {
  color: #2aa198;
}
/* Literal.String */
.night_mode .gch-pygments .na {
  color: #839496;
}
/* Name.Attribute */
.night_mode .gch-pygments .nb {
  color: #268bd2;
}
/* Name.Builtin */
.night_mode .gch-pygments .nc {
  color: #268bd2;
}
/* Name.Class */
.night_mode .gch-pygments .no {
  color: #268bd2;
}
/* Name.Constant */
.night_mode .gch-pygments .nd {
  color: #268bd2;
}
/* Name.Decorator */
.night_mode .gch-pygments .ni {
  color: #268bd2;
}
/* Name.Entity */
.night_mode .gch-pygments .ne {
  color: #268bd2;
}
/* Name.Exception */
.night_mode .gch-pygments .nf {
  color: #268bd2;
}
/* Name.Function */
.night_mode .gch-pygments .nl {
  color: #268bd2;
}
/* Name.Label */
.night_mode .gch-pygments .nn {
  color: #268bd2;
}
/* Name.Namespace */
.night_mode .gch-pygments .nx {
  color: #839496;
}
/* Name.Other */
.night_mode .gch-pygments .py {
  color: #839496;
}
/* Name.Property */
.night_mode .gch-pygments .nt {
  color: #268bd2;
}
/* Name.Tag */
.night_mode .gch-pygments .nv {
  color: #268bd2;
}
/* Name.Variable */
.night_mode .gch-pygments .ow {
  color: #859900;
}
/* Operator.Word */
.night_mode .gch-pygments .pm {
  color: #839496;
}
/* Punctuation.Marker */
.night_mode .gch-pygments .w {
  color: #839496;
}
/* Text.Whitespace */
.night_mode .gch-pygments .mb {
  color: #2aa198;
}
/* Literal.Number.Bin */
.night_mode .gch-pygments .mf {
  color: #2aa198;
}
/* Literal.Number.Float */
.night_mode .gch-pygments .mh {
  color: #2aa198;
}
/* Literal.Number.Hex */
.night_mode .gch-pygments .mi {
  color: #2aa198;
}
/* Literal.Number.Integer */
.night_mode .gch-pygments .mo {
  color: #2aa198;
}
/* Literal.Number.Oct */
.night_mode .gch-pygments .sa {
  color: #2aa198;
}
/* Literal.String.Affix */
.night_mode .gch-pygments .sb {
  color: #2aa198;
}
/* Literal.String.Backtick */
.night_mode .gch-pygments .sc {
  color: #2aa198;
}
/* Literal.String.Char */
.night_mode .gch-pygments .dl {
  color: #2aa198;
}
/* Literal.String.Delimiter */
.night_mode .gch-pygments .sd {
  color: #586e75;
}
/* Literal.String.Doc */
.night_mode .gch-pygments .s2 {
  color: #2aa198;
}
/* Literal.String.Double */
.night_mode .gch-pygments .se {
  color: #2aa198;
}
/* Literal.String.Escape */
.night_mode .gch-pygments .sh {
  color: #2aa198;
}
/* Literal.String.Heredoc */
.night_mode .gch-pygments .si {
  color: #2aa198;
}
/* Literal.String.Interpol */
.night_mode .gch-pygments .sx {
  color: #2aa198;
}
/* Literal.String.Other */
.night_mode .gch-pygments .sr {
  color: #cb4b16;
}
/* Literal.String.Regex */
.night_mode .gch-pygments .s1 {
  color: #2aa198;
}
/* Literal.String.Single */
.night_mode .gch-pygments .ss {
  color: #2aa198;
}
/* Literal.String.Symbol */
.night_mode .gch-pygments .bp {
  color: #268bd2;
}
/* Name.Builtin.Pseudo */
.night_mode .gch-pygments .fm {
  color: #268bd2;
}
/* Name.Function.Magic */
.night_mode .gch-pygments .vc {
  color: #268bd2;
}
/* Name.Variable.Class */
.night_mode .gch-pygments .vg {
  color: #268bd2;
}
/* Name.Variable.Global */
.night_mode .gch-pygments .vi {
  color: #268bd2;
}
/* Name.Variable.Instance */
.night_mode .gch-pygments .vm {
  color: #268bd2;
}
/* Name.Variable.Magic */
.night_mode .gch-pygments .il {
  color: #2aa198;
}
/* Literal.Number.Integer.Long */
